@import url("../assets/global-style.css");

html {
    background-image: url('./assets/background--main.png');
    background-repeat: no-repeat;
    transition: 2s;
}

body {
    display: flex;
    margin: 0;
    background-image: url('./assets/background--main.png');
    background-repeat: no-repeat;
    width: 728px;
    height: 90px;
    max-width: 728px;
    max-height: 90px;
}

.header-container {
    display: flex;
    background-color: var(--global-header-color);
    text-align: center;
    padding: 30px;
}

.logo {
    width: 100px;
    height: 28px;
}

.main-text {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    margin: 12px 31px 10px 70px;
    font-size: 19px;
    font-weight: 200;
    line-height: 120%;
    text-wrap: balance;
    color: var(--global-text-color);
    opacity: 0;
    transition: opacity 1s;
    transition-timing-function: ease-in;
}

.main-text--show {
    opacity: 1 !important;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

.button {
    color: var(--global-text-color);
    background-color: var(--global-button-color);
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 11px;
    border: none;
    border-radius: 25px;
    text-wrap: nowrap;
    text-align: center;
    padding: 0 35px;
    margin: 30px 0 25px 150px;
    letter-spacing: 1.25px;
    opacity: 0;
}

.footer-container {
    position: absolute;
}

.footer-text {
    font-family: 'Mulish', sans-serif;
    position: absolute;
    padding-top: 2px;
    margin: 2px 0 0 630px;
    font-size: 8px;
    font-weight: 700;
    text-wrap: nowrap;
    color: var(--global-text-color);
}