@import url("../assets/global-style.css");

html {
    background-image: url('./assets/background--main.png');
    background-repeat: no-repeat;
    transition: 2s;
}

body {
    margin: 0;
    background-image: url('./assets/background--main.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    max-width: 300px;
    max-height: 250px;
}


.header-container {
    display: flex;
    justify-content: center;
    background-color: var(--global-header-color);
    text-align: center;
    padding: 10px 0 10px 0;
}

.main-container {
    width: 300px;
    height: 250px;
}

.main-text {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    padding: 0 12px;
    margin: 40px 140px 20px 10px;
    font-size: 19px;
    font-weight: 200;
    line-height: 120%;
    text-wrap: balance;
    text-align: left;
    color: var(--global-text-color);
    opacity: 0;
    transition: opacity 1s;
    transition-timing-function: ease-in;
}

.main-text--show {
    opacity: 1 !important;
    transition: opacity 1s;
    transition-timing-function: ease-out;
}

.button {
    color: var(--global-text-color);
    background-color: var(--global-button-color);
    font-family: 'Mulish', sans-serif;
    font-size: 11px;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 0 195px 60px 12px;
    letter-spacing: 1.25px;
    animation: fadeIn 5s;
    cursor: pointer;
}

.footer-container {
     position: fixed;
}

.footer-text {
    font-family: 'Mulish', sans-serif;
    position: fixed;
    margin: 230px 8px 0px 10px;
    font-size: 8px;
    font-weight: 700;
    color: var(--global-text-color);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}